olegrumpy.ru {
    view russia {
      expr metadata('geoip/continent/name') in ['Africa', 'Europe']
    }
    geoip /etc/coredns/GeoLite2-City.mmdb {
        edns-subnet
    }
    metadata
    file {{ coredns_workdir }}/db-ru.olegrumpy.ru

    transfer {
        to {{ coredns_secondary_ip }}
    }

    health :8080
    prometheus :9153
    log
    errors
}

olegrumpy.ru {
    view usa {
      expr metadata('geoip/continent/name') in ['Antarctica', 'North America', 'South America']
    }
    geoip /etc/coredns/GeoLite2-City.mmdb {
        edns-subnet
    }
    metadata
    file {{ coredns_workdir }}/db-us.olegrumpy.ru

    transfer {
        to {{ coredns_secondary_ip }}
    }

    health :8080
    prometheus :9153
    log
    errors
}

olegrumpy.ru {
    view asia {
      expr metadata('geoip/continent/name') in ['Asia', 'Oceania']
    }
    geoip /etc/coredns/GeoLite2-City.mmdb {
        edns-subnet
    }
    metadata
    file {{ coredns_workdir }}/db-asia.olegrumpy.ru

    transfer {
        to {{ coredns_secondary_ip }}
    }

    health :8080
    prometheus :9153
    log
    errors
}

olegrumpy.ru {
    file {{ coredns_workdir }}/db-ru.olegrumpy.ru

    secondary {
        transfer from {{ coredns_primary_ip }}
    }

    health :8080
    prometheus :9153
    log
    errors
}

grafana.olegrumpy.ru {
    file {{ coredns_workdir }}/db-ru.olegrumpy.ru

    secondary {
        transfer from {{ coredns_primary_ip }}
    }

    health :8080
    log
    errors
}