# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "node"
    static_configs:
      - targets: ["localhost:9100"]
        labels:
          instance: "monitoring"
      - targets: ["51.250.13.216:9100"]
        labels:
          instance: "dns1"
      - targets: ["51.250.43.59:9100"]
        labels:
          instance: "dns2"
      - targets: ["213.178.155.151:9100"]
        labels:
          instance: "node_ru"
      - targets: ["195.149.87.172:9100"]
        labels:
          instance: "node_us"
      - targets: ["74.119.193.216:9100"]
        labels:
          instance: "node_hk"
  - job_name: "coredns"
    static_configs:
      - targets: ["51.250.13.216:9153"]
        labels:
          instance: "dns1"
      - targets: ["51.250.43.59:9153"]
        labels:
          instance: "dns2"
